@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.resumeItem{
    color: #FF4757;
    border-radius: 1em;
    background-color: whitesmoke;
    width: 90vw;
    margin: auto;
    box-shadow: 0px 0px 20px 0px rgba(83, 24, 29, 0.205);
    padding: 8px;
}

.resumeItem p, .resumeItem li{
    margin: 1em;
    font-family: 'Jost', sans-serif;
}
.resumeItem li{
    font-size: smaller;
}
.resumeItem p{
    font-size: small;
}
 button, button.unselected{
    margin: auto 4px;
    border: none;
    border-radius: 1em;
    padding: 8px;
    background-color: #FF4757;
    color: whitesmoke;
    border: 2px solid white;
    font-size: smaller;
}
button:hover{
    box-shadow: 0px 0px 10px 0px rgba(78, 22, 27, 0.452);
}
 button.selected {
    background-color:whitesmoke;
    color:#FF4757;
}

/*name of role, company and time in role.*/
.dates, .resumeItem h3{
    display: inline;
}
.blurb{
    font-size:smaller;
}
h1{
    text-align: center;
}
.tag{
    color: #FF4757;
    width: max-content;
    border-radius: 8px;
    padding: 4px;
    margin: 0 4px;
    font-size: small;
    line-height: 100%;
    border: 1px solid #FF4757;
    display: inline-block;
    text-transform: capitalize;
}
.tagsContainer{
    width: 80%;
    padding: 0 1em;
}

button{
    margin: auto;
}