@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

.appCard{
    padding: 1em;
    border: 2px solid #ff4757;
    color: #ff4757;    
}
.apps{
    padding: 1em;
    text-align: center;
}
*{
    font-family: 'Roboto Mono', monospace;
}