/* resume */
.tagsBox {
    display: inline-block;
}
.exp{
    margin-top: 1em;
    height: fit-content;
    display: grid;
    grid-gap: 1em;
}

.resumeContainer{
    display: grid;
    grid-gap: 1em;
    margin: auto;
    width: 80vw;
}
@media screen and (max-width: 600px) {
    .resumeContainer{
        width: 95vw;
    }
  }

/*  projects */