@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

.socials{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

a, p{
    text-transform: none;
    text-decoration: none;
    width: fit-content;
}
*{
    font-family: 'Roboto', sans-serif;
}
.social_container{
    margin: 0 auto;
    justify-items:center;
    width: 50vw;
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
}
